.sidebar {
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100vh;
  background-color: black 50%;
  color: rgb(42, 41, 41);
  padding: 3rem 2rem;

  font-size: 30px;
  text-align: left;
  transition: left 0.4s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
