.sidebar {
  position: fixed;
  top: 0;
  left: 0%;
  width: 25%;
  height: 100vh;
  background-color: rgb(42, 41, 41, 70%);
  color: rgb(255, 255, 255);
  padding: 3rem 2rem;

  font-size: 30px;
  text-align: left;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
