:root {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: rgb(131, 130, 130);
}

h1 {
  color: rgb(42, 41, 41);
  font-weight: 100;
  font-size: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  color: rgb(42, 41, 41);
  font-weight: 70;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
}

.layout {
  display: flex;
  height: 100vh;
}

.app {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: rgb(42, 41, 41);
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.building-text {
  color: white;
  text-align: center;
}
